.in{
background : transparent url("../images/jaive_vector_icon.png") no-repeat;
margin : 0 0 0 97px;
position : absolute;
width : 332px;
height : 40px;
top : 60px;
text-indent : 100%;
white-space : nowrap;
overflow : hidden;
}