html {height: 100%; width: 100%;}
body {height: 100%; margin: 0 0 0 0; width: 80%;}

html{
  background-image: url("https://40.media.tumblr.com/75c9803a3a47b59dda40ee09fa64cfb0/tumblr_o17rqaIz6e1qapm0ro1_250.png") ;
  color: #000000;
}

a {color: #bc1e1b; text-decoration: none;
}

h2{
  color: Black;
}

h1{
  color: Red;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  margin-left: 100px;
  margin-right:100px;
  margin-bottom: 120px;
}

body, p{
  font-family: fantasy, Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

div#outerwrapper {margin: 0 auto 0 auto; width: 100%;}
div#contentcontainer {clear: both; margin: 0 auto 0 auto; width: 100%;}

div#leftcontainer {float: left; min-height: 552px; width: 810px;}

div#leftcontainer_interior {float: left; min-height: 663px; width: 810px;}

div#navcontainer {float: left; margin-top: 170px; text-align: right; width: 198px;}
div#navcontainer div#navinfo {padding: 0 0 0 0; text-align: right; width: 198px;}

div#navcontainer_interior {float: left; margin-top: 60px; text-align: right; width: 198px;}
div#navcontainer_interior div#navheader {height: 75px; margin-bottom: 35px; margin-right: 30px; text-align: right; width: 168px;}
div#navcontainer_interior div#navinfo {padding: 0 0 0 0; text-align: right; width: 198px;}

section.definitions {border: double medium; margin: 2em; padding: 10px 10px 10px 10px;}
section.conclusion h1 {font: small-caps 2em Arial, sans-serif;}

p.special {
  color: #3333ff;
}

/*----- CSS Drop for Down Menu -----*/

.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
    display: inline-table;
}
 
.menu {
    width:80%;
    margin:20px auto;
    position: top;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#ffffff;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}