html{
  background-image: url("https://40.media.tumblr.com/75c9803a3a47b59dda40ee09fa64cfb0/tumblr_o17rqaIz6e1qapm0ro1_250.png") ;
  color; DarkGreen;
}

h2{
  color: Black;
}

h1{
  color: Red;
}
body{
  margin-left: 100px;
  margin-right:100px;
  margin-bottom: 120px;
}

p{
  font-family: fantasy;
  font-size: 20px;
}